html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: black !important;
    color: white !important;
}

.previous,
.next,
.current {
    height: 100%;
}

.previous,
.next {
    cursor: pointer;
    text-align: center;
}

img {
    width: 100px;
    padding: 10px;
    object-fit: contain;
    height: 100%;
}

.conteneur,
.imgcontaineur,
.row {
    height: 100%;
}

#projet {
    height: 50%;
    text-align: center;
    font-size: 5em;
    position: relative;
    top: 30%;
}

#personnes {
    height: 30%;
    text-align: center;
    font-size: 3em;
}

#progress {
    height: 20%;
}